In [1]:
# Importing modules
import utils.fileManager as fm
import utils.dataWrangler as dw

# Creating needed objects
file_manager = fm.FileManager()
data_wrangler = dw.DataWrangler()

In [2]:
# Reading data from files
CO2_raw_data = file_manager.file_to_df("..\\resources\\CO2.csv")
temp_country_raw = file_manager.file_to_df("..\\resources\\GlobalLandTemperaturesByCountry.csv")
coord_raw = file_manager.file_to_df("..\\resources\\coord.csv")

# Locating common countries
data_wrangler.common_countries_check(CO2_raw_data,temp_country_raw)

# Clean CO2 data
CO2_data = data_wrangler.clean_CO2_data(CO2_raw_data)

# Clean temperature data
start_date = "1910-01-01"
end_date = "2013-08-01"
temp_data = data_wrangler.clean_temp_data(start_date, end_date, temp_country_raw)

# Clean coordinate data

# Saving cleaned data to csv

>> Dataframe succesfully generated from: ..\resources\CO2.csv
>> Dataframe succesfully generated from: ..\resources\GlobalLandTemperaturesByCountry.csv
>> Dataframe succesfully generated from: ..\resources\coord.csv
>> The list with common countries has been generated with 168 elements.

>> CO2 data is cleaned and ready.

>> Temperature data is cleaned and ready.

In [118]:
#Reading coord data from file
coord_raw = pd.read_csv("..\\resources\\coord.csv")

#Dropping columns
coord_raw.drop(columns="country", inplace=True)

#Renaming columns
coord_raw.rename(columns={"latitude":"Lat", "longitude":"Lon", "name":"Country"}, inplace=True)
coord_raw

           Lat        Lon               Country
0    42.546245   1.601554               Andorra
1    23.424076  53.847818  United Arab Emirates
2    33.939110  67.709953           Afghanistan
3    17.060816 -61.796428   Antigua and Barbuda
4    18.220554 -63.068615              Anguilla
..         ...        ...                   ...
240  15.552727  48.516388                 Yemen
241 -12.827500  45.166244               Mayotte
242 -30.559482  22.937506          South Africa
243 -13.133897  27.849332                Zambia
244 -19.015438  29.154857              Zimbabwe

[245 rows x 3 columns]

In [124]:
coord_clean = coord_raw.loc[coord_raw["Country"].isin(list(resampled.columns))]
coord_clean = coord_clean.set_index("Country")
coord_clean = coord_clean.T
coord_clean.sort_index(axis=1, inplace=True)
coord_clean

Country,Afghanistan,Albania,Algeria,Angola,Argentina,Aruba,Australia,Austria,Bahrain,Bangladesh,...,Togo,Tonga,Tunisia,Turkey,Uganda,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam
Lat,33.939110,41.153332,28.033886,-11.202692,-38.416097,12.521110,-25.274398,47.516231,25.930414,23.684994,...,8.619543,-21.178986,33.886917,38.963745,1.373333,23.424076,55.378051,37.090240,-32.522779,14.058324
Lon,67.709953,20.168331,1.659626,17.873887,-63.616672,-69.968338,133.775136,14.550072,50.637772,90.356331,...,0.824782,-175.198242,9.537499,35.243322,32.290275,53.847818,-3.435973,-95.712891,-55.765835,108.277199